/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

div .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container img{
    width: 100%;
}

.container p{
    color: yellow;
    font-size: 3vw;
}

/* HEADER */

header{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100px;
}

nav li{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    margin: 20px;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px black;
    
}

nav ul li a:hover{
    box-shadow: 0px 1px 5px black;
    background-color: darkgrey;

}

/* SUPERGA */

#superga{
    position: relative;
    background-color: red;
    width: 100%;
    height: 100vh;
}

/* HILFIGER */

#hilfiger{
    position: relative;
    background-color: green;
    width: 100%;
    height: 100vh;
}

/* CONVERSE */

#converse{
    position: relative;
    background-color: yellow;
    width: 100%;
    height: 100vh;
}

#converse p{
    color: green;
}